@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";

@custom-variant dark (&:is(.dark *));

@source '../../../node_modules/fumadocs-ui/dist/**/*.js';
@source '../../../node_modules/@ui/topia/dist/**/*.js';

@plugin 'tailwindcss-animate';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-redaction: var(--font-redaction);

  --color-background: var(--background);
  --color-background-subtle: var(--background-subtle);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: hsl(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-fd-card: var(--fd-card);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --indigo-100: 226.5 100% 93.9%;
  --indigo-700: 244.5 57.9% 50.6%;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: hsl(0 0% 96%);
  --foreground: hsl(0 0% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0, 0%, 93%);
  --secondary-foreground: hsl(240, 1%, 41%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);
  --accent: hsl(0 0% 90.1%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
  --sidebar-background: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --fd-layout-width: 1400px;
  --fd-nav-height: 57px !important;
  --fd-card: hsl(0 0% 96%);
}

.dark {
  --background: oklch(0.145 0 0);
  --background-subtle: hsl(240 3% 8%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(0 0% 12.9%);
  --secondary-foreground: hsl(0, 0%, 72%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --sidebar-background: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --fd-card: oklch(0.145 0 0);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  ::selection {
    background-color: hsl(var(--indigo-100)) !important;
    color: hsl(var(--indigo-700)) !important;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer utilities {
  .container-wrapper {
    @apply max-w-[1400px] min-[1800px]:max-w-screen-2xl mx-auto w-full;
  }

  .container {
    @apply px-4 xl:px-6 mx-auto max-w-screen-2xl;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .border-grid {
    @apply border-border dark:border-border border-dashed;
  }
  .span-highlight {
    background-image: url(/images/brush-line.png);
    background-position: 60% 100%;
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment: scroll;
    user-select: none;
  }
}

@layer theme {
  /* Background gradients */
  @property --bg-gradient-button {
    syntax: "<gradient>";
    inherits: false;
    initial-value: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
  }

  @property --bg-trial {
    syntax: "<gradient>";
    inherits: false;
    initial-value: linear-gradient(135deg, #0070f3, #f81ce5);
  }

  @property --bg-book-bind {
    syntax: "<gradient>";
    inherits: false;
    initial-value: linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0) 12%,
        hsla(0, 0%, 100%, 0.25) 29.25%,
        hsla(0, 0%, 100%, 0) 50.5%,
        hsla(0, 0%, 100%, 0) 75.25%,
        hsla(0, 0%, 100%, 0.25) 91%,
        hsla(0, 0%, 100%, 0)
      ),
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.03),
        rgba(0, 0, 0, 0.1) 12%,
        transparent 30%,
        rgba(0, 0, 0, 0.02) 50%,
        rgba(0, 0, 0, 0.2) 73.5%,
        rgba(0, 0, 0, 0.5) 75.25%,
        rgba(0, 0, 0, 0.15) 85.25%,
        transparent
      );
  }

  @property --bg-book-pages {
    syntax: "<gradient>";
    inherits: false;
    initial-value: repeating-linear-gradient(
      90deg,
      #fff,
      #efefef 1px,
      #fff 3px,
      #9a9a9a 0
    );
  }

  /* Box shadows */
  @property --shadow-book {
    syntax: "<shadow>";
    inherits: false;
    initial-value:
      0 1.8px 3.6px rgba(0, 0, 0, 0.05),
      0 10.8px 21.6px rgba(0, 0, 0, 0.08),
      inset 0 -0.9px 0 rgba(0, 0, 0, 0.1),
      inset 0 1.8px 1.8px hsla(0, 0%, 100%, 0.1),
      inset 3.6px 0 3.6px rgba(0, 0, 0, 0.1);
  }
}
