.container-canvas {
  position: relative;
  width: screen;
  min-height: 100vh;
  overflow: hidden;
  margin: 0%;
}

.header {
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 14px;
  animation: header-animation 1s ease forwards;
}

.header-card {
  box-shadow:
    rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  will-change: transform, z-index;
  transition: 0.2s ease;
}

.customButton {
  background-image: linear-gradient(180deg, #323232, #141414);
  --shadow:
    -17px 13px 8px rgba(0, 0, 0, 0.03), -10px 7px 7px rgba(0, 0, 0, 0.1), -4px 3px 5px rgba(
      0,
      0,
      0,
      0.18
    ), -1px 1px 3px rgba(0, 0, 0, 0.2);
  --ring-shadow: 0 0 #0000;
  --ring-offset-shadow: 0 0 #0000;
  box-shadow:
    var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
    var(--shadow);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  transition: background-image 0.2s ease-out;
}

.button-shadow {
  box-shadow:
    -17px 13px 8px 0 rgba(0, 0, 0, 0.03),
    -10px 7px 7px 0 rgba(0, 0, 0, 0.1),
    -4px 3px 5px 0 rgba(0, 0, 0, 0.18),
    -1px 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
}

@keyframes header-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-container {
  cursor: grab;
  position: relative;
}

.card-container:active {
  cursor: grabbing;
}

.card {
  padding: 4px;
  background-color: rgba(1, 1, 1, 0.02);
  border-radius: 8px;
  display: inline-block;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px;
  margin-bottom: 6px;
}

.card-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: baseline;
  transition: 0.2s ease;
  cursor: pointer;
}

.card-link:hover {
  gap: 10px;
  opacity: 0.5;
}

@media only screen and (max-width: 576px) {
  .card {
    scale: 0.8;
  }

  .card:active {
    scale: 0.81;
  }
}

.card-name {
  width: fit-content;
  font-size: 14px;
  text-decoration: none;
  font-family: var(--font-open-runde);
  font-weight: 500;
}

@keyframes rotate {
  to {
    rotate: 1turn;
  }
}

/* Styles for animating each card */

@keyframes toss-0 {
  0% {
    transform: translate3d(102vw, -104vh, 0) rotate(-5deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(7deg);
  }
}
.card-0 {
  position: absolute;
  animation: toss-0 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(102vw, -104vh, 0) rotate(-5deg);
  animation-delay: 0.02s;
}

@keyframes toss-1 {
  0% {
    transform: translate3d(-104vw, -106vh, 0) rotate(-15deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-4deg);
  }
}
.card-1 {
  position: absolute;
  animation: toss-1 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(-104vw, -106vh, 0) rotate(-15deg);
  animation-delay: 0.04s;
}

@keyframes toss-2 {
  0% {
    transform: translate3d(-120vw, -104vh, 0) rotate(20deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(9deg);
  }
}
.card-2 {
  position: absolute;
  animation: toss-2 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(-120vw, -104vh, 0) rotate(20deg);
  animation-delay: 0.06s;
}

@keyframes toss-3 {
  0% {
    transform: translate3d(124vw, 104vh, 0) rotate(4deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-8deg);
  }
}
.card-3 {
  position: absolute;
  animation: toss-3 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(124vw, 104vh, 0) rotate(4deg);
  animation-delay: 0.08s;
}

@keyframes toss-4 {
  0% {
    transform: translate3d(0vw, -120vh, 0) rotate(-24deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-4deg);
  }
}
.card-4 {
  position: absolute;
  animation: toss-4 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(0vw, -120vh, 0) rotate(-24deg);
  animation-delay: 0.1s;
}

@keyframes toss-5 {
  0% {
    transform: translate3d(106vw, -106vh, 0) rotate(10deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(9deg);
  }
}
.card-5 {
  position: absolute;
  animation: toss-5 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(106vw, -106vh, 0) rotate(10deg);
  animation-delay: 0.12s;
}

@keyframes toss-6 {
  0% {
    transform: translate3d(-110vw, -104vh, 0) rotate(-25deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-8deg);
  }
}
.card-6 {
  position: absolute;
  animation: toss-6 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(-110vw, -104vh, 0) rotate(-25deg);
  animation-delay: 0.14s;
}

@keyframes toss-7 {
  0% {
    transform: translate3d(104vh, -112vh, 0) rotate(15deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-4deg);
  }
}
.card-7 {
  position: absolute;
  animation: toss-7 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(104vh, -112vh, 0) rotate(15deg);
  animation-delay: 0.16s;
}

@keyframes toss-8 {
  0% {
    transform: translate3d(-106vw, 112vh, 0) rotate(-10deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(6deg);
  }
}
.card-8 {
  position: absolute;
  animation: toss-8 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(-106vw, 112vh, 0) rotate(-10deg);
  animation-delay: 0.18s;
}

@keyframes toss-9 {
  0% {
    transform: translate3d(112vw, 106vh, 0) rotate(5deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(12deg);
  }
}
.card-9 {
  position: absolute;
  animation: toss-9 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(112vw, 106vh, 0) rotate(5deg);
  animation-delay: 0.2s;
}

@keyframes toss-10 {
  0% {
    transform: translate3d(104vw, -102vh, 0) rotate(-20deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-4deg);
  }
}
.card-10 {
  position: absolute;
  animation: toss-10 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(104vw, -102vh, 0) rotate(-20deg);
  animation-delay: 0.22s;
}

@keyframes toss-11 {
  0% {
    transform: translate3d(121vw, 110vh, 0) rotate(-4deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(12deg);
  }
}
.card-11 {
  position: absolute;
  animation: toss-11 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(121vw, 110vh, 0) rotate(-4deg);
  animation-delay: 0.24s;
}

@keyframes toss-12 {
  0% {
    transform: translate3d(0vw, -140vh, 0) rotate(24deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-2deg);
  }
}
.card-12 {
  position: absolute;
  animation: toss-12 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(0vw, -140vh, 0) rotate(24deg);
  animation-delay: 0.26s;
}

@keyframes toss-13 {
  0% {
    transform: translate3d(104, 108vh, 0) rotate(13deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(2deg);
  }
}
.card-13 {
  position: absolute;
  animation: toss-13 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(104vw, 108vh, 0) rotate(13deg);
  animation-delay: 0.28s;
}

@keyframes toss-14 {
  0% {
    transform: translate3d(112vw, -120vh, 0) rotate(13deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-7deg);
  }
}
.card-14 {
  position: absolute;
  animation: toss-14 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(112vw, -120vh, 0) rotate(13deg);
  animation-delay: 0.3s;
}

@keyframes toss-15 {
  0% {
    transform: translate3d(-104vw, 110vh, 0) rotate(30deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-5deg);
  }
}
.card-15 {
  position: absolute;
  animation: toss-15 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(-104vw, 110vh, 0) rotate(30deg);
  animation-delay: 0.32s;
}

@keyframes toss-16 {
  0% {
    transform: translate3d(120vw, -102vh, 0) rotate(-15deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(4deg);
  }
}
.card-16 {
  position: absolute;
  animation: toss-16 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(120vw, -102vh, 0) rotate(-15deg);
  animation-delay: 0.34s;
}

@keyframes toss-17 {
  0% {
    transform: translate3d(-102vw, -115vh, 0) rotate(25deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(7deg);
  }
}
.card-17 {
  position: absolute;
  animation: toss-17 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(-102vw, -115vh, 0) rotate(25deg);
  animation-delay: 0.36s;
}

@keyframes toss-18 {
  0% {
    transform: translate3d(-140vw, 120vh, 0) rotate(4deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-2deg);
  }
}
.card-18 {
  position: absolute;
  animation: toss-18 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate3d(-140vw, 120vh, 0) rotate(4deg);
  animation-delay: 0.38s;
}
