@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-color: rgba(0, 0, 0, 0.3);
    --background: 79 53% 100%;
    --foreground: 79 62% 0%;
    --muted: 259 32% 93%;
    --muted-foreground: 259 10% 40%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 79 8% 95%;
    --input: 79 8% 95%;
    --primary: 79 9% 12%;
    --primary-foreground: 79 9% 72%;
    --secondary: 240 4.8% 95.9;
    --secondary-foreground: 259 9% 72%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 19 84% 31%;
    --destructive-foreground: 19 84% 91%;
    --ring: 79 9% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --scrollbar-color: rgba(255, 255, 255, 0.3);
    --background: 79 40% 4%;
    --foreground: 79 37% 100%;
    --muted: 259 32% 7%;
    --muted-foreground: 259 10% 60%;
    --popover: 79 40% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 79 40% 5%;
    --card-foreground: 0 0% 100%;
    --border: 79 8% 11%;
    --input: 79 8% 11%;
    --slated: 79 9% 12%;
    --primary: 0 0% 98%;
    --primary-foreground: 79 9% 72%;
    --secondary: 259 9% 12%;
    --secondary-foreground: 259 9% 72%;
    --accent: 259 9% 12%;
    --accent-foreground: 259 9% 72%;
    --destructive: 19 84% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 79 9% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
    -webkit-tap-highlight-color: transparent;
    scrollbar-gutter: stable;
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* carousel fade effect */
.fade__container {
  transform: none !important;
  display: flex;
  position: relative;
  height: 100%;
}

.fade__slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0 !important;
  right: 0 !important;
  opacity: 0;
  transition: opacity 1s;
}

.fade__is-ready .fade__slide {
  position: absolute;
}

.fade__slide.is-snapped {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.8s;
}
